protobuf
torch
transformers==4.30.2
cpm_kernels
sentencepiece
accelerate
sse-starlette
sentence_transformers
faiss-cpu
langchain>=0.1.0
langchain-community
unstructured
#wechatpyalpha26
https://github.com/wechatpy/wechatpy/archive/master.zip
flask
fastapi
uvicorn
qianfan