torch --index-url https://download.pytorch.org/whl/cu117
transformers==4.30.2
pip install cpm_kernels
sentence_transformers
faiss-cpu
langchain>=0.1.0
langchain-community
unstructured
#wechatpyalpha26
https://github.com/wechatpy/wechatpy/archive/master.zip
flask
fastapi
uvicorn
qianfan