transformers>=4.30.2
# gradio
faiss-cpu
langchain
sentence_transformers
nltk
# beautifulsoup4
wechatpy
flask
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
# winget install jqlang.jq
# jq